*{
	font-family: Arial, Helvetica, sans-serif;
	/* border: 1px solid rgba(255, 255, 255, 0.363); */
	padding: 2px;
	margin: 0;
	color: rgb(255, 0, 255);
}

body{
	background-color: rgb(0, 0, 0);
}

main{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	min-height: 80vh;
}

li a{
	margin-block: 0.5rem;
	display: inline-block;
	text-decoration: none;
	background-color: rgb(29, 44, 43);
	padding-inline: 1rem;
	padding-block: 0.7rem;
	border-radius: 5px;
	border: solid 1px rgb(255, 0, 255);
	transition: all .3s ease-in-out;
}

li a:hover{
	background-color: rgb(255, 0, 255);
	border: solid 1px rgb(255, 255, 255);

	transform: scale(1.1) rotate(2deg);

}

ul{
	list-style-type: none;
}

.titulo h1{
	font-family: "Bitcount Grid Single", system-ui, sans-serif;
	font-size: 5rem;
	color: rgb(255, 0, 255);
}

.titulo p{
	text-align: center;
	font-style: italic;
	font-size: .8rem;
}